/* 4785f1 */

/* first ----------------- */
.first {
  background: url("./TeamImage/first.jpg") no-repeat;
  width: 100%;
  height: 600px;
}
.first .white {
  background: white;
  width: 500px;
  height: 500px;
  text-align: center;
  background: linear-gradient(to top, white, #eee, white, #eee, #eee);
/* box-shadow: inset 1px -1px 3px rgb(209, 205, 205); */
}
.first h1 {
  margin-top: 210px;
  color: black;
  font-size: 39px;
  text-transform: capitalize;
}
.first p {
  margin-top: 0px;
  font-size: 20px;
  margin-left: 10px;
}

.first button {
  background: #4785f1;
  border: 2px solid #4785f1;
  width: 300px;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin-left: 0px;
  margin-top: 20px;
}

/*^^^^^^^^^^^^^^^^^^^^ end comp1 ^^^^^^ */

/* --------------services-------------- */
.InstrServices .container .row {
  margin: auto;
}

.InstrServices .container .row h1 {
  margin-top: 100px;
  color: #4785f1;
  text-transform: capitalize;
  margin-bottom: 40px;
  text-align: center;
  margin-left: 14px;
}

.InstrServices .container .row img {
  width: 32%;
  margin: auto;
}
.InstrServices .container .row .card {
  border: none;
  text-align: center;
  box-shadow: inset 1px 1px 15px rgb(224, 224, 224);
  margin-left: 1px;
  padding: 20px;
  width: 400px;
  margin-left: 30px;
}

.InstrServices .container .row .card h3 {
  color: #4785f1;
  margin-top: 10px;
}

/* instructorteam  OUR INSTRUCTORE TEAM ----------------- */

.instructorteam {
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
}
.instructorteam .container .row h4 {
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 60px;
  font-weight: none;
  color: #4785f1;
}

.instructorteam .mySwiper {
  margin-top: -190px;
}
.instructorteam .card {
  padding: 10px;
  height: 430px;
  margin-top: 50px;
}

.instructorteam .card:hover {
  box-shadow: inset 1px 1px 17px rgb(219, 216, 216);
}
.instructorteam .mySwiper .card img {
  height: 300px;
}
.instructorteam .mySwiper .card img:hover {
  filter: brightness(0.7);
  transition: all 0.6s;
}

.instructorteam .mySwiper .card h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #4785f1;
  text-transform: capitalize;
}

.instructorteam .mySwiper .card h5 {
  color: gray;
}

/* askTeam----- form left compnent--------------- */

.askTeam {
  height: 790px;
  margin-top: -80px;
  background-color: rgba(238, 238, 238, 0.377);
  /* margin-bottom: 90px; */
  padding-top: 40px;
}
.askTeam h1 {
  text-transform: capitalize;
  font-size: 36px;
  margin-top: 70px;
}
.askTeam h3 {
  font-size: 16px;
  color: gray;
}
.askTeam p {
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #db2d41;
}

.askTeam img {
  width: 100%;
  margin-top: 80px;
}

.askTeam form {
  width: 600px;
  height: 420px;
  box-shadow: 1px 1px 16px rgb(228, 220, 220);
  padding: 30px;
}

.askTeam .form-style-4 {
  width: 450px;
  font-size: 16px;
  padding: 30px;
  box-shadow: 1px 1px 17px rgb(211, 210, 210);
}
.askTeam form button {
  width: 240px;
}

.askTeam .textHeader {
  text-align: center;
  background-color: #a31727;
  color: rgb(219, 216, 216);
  margin-bottom: 30px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* media query */
/* 0px to 552px  phone size*/
@media (max-width: 575.98px) {
  .instructorteam {
    margin-top: 40px;
    position: absolute;
    z-index: 0;
  }

  .instructorteam .container .row h1 {
    margin-top: 0px;
  }
  .instructorteam .card {
    margin-top: -40px;
    height: 160px;
  }
  .instructorteam .mySwiper {
    margin-top: -90px;
  }

  .instructorteam .mySwiper .card img {
    width: 100%;
  }
  .instructorteam .mySwiper .card h3 {
    font-size: 15px;
    margin-top: 0px;
  }

  .instructorteam .mySwiper .card h5 {
    font-size: 12px;
  }
  .askTeam {
    height: 600px;
    margin-top: -90px;
  }
  .askTeam h1 {
    font-size: 25px;
  }
  .askTeam p {
    font-size: 16px;
  }
  .askTeam img {
    display: none;
  }
  .askTeam form {
    padding: 10px;
    font-size: xx-small;
  }
  .askTeam .textHeader {
    text-align: left;
    font-size: 13px;
  }
}
