/* cousres */
.Courses {
  height: 1000px;
  background-color: rgba(238, 238, 238, 0.377);
  padding-top: 60px;
  /* margin-top: 100px; */
}

.Courses h4 {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}
.Courses h1 {
  color: #4785f1;
}
.Courses .buttons {
  border-bottom: 1px solid gray;
  margin-top: 50px;
  padding-bottom: 20px;
}
.Courses button {
  background: transparent;
  border: none;
  text-transform: capitalize;
}

.Courses .buttons button:hover {
  color: #4785f1;
}
.swiper .Courses .mySwiper {
  width: 100%;
  height: 400px;
  margin-top: -60px;
}
/* card in course */
.Courses .mySwiper .card {
  background-color: white;
}
.Courses .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 380px;
}

.Courses .swiper-slide img {
  display: block;
  width: 100%;
  height: 200px;
}
.Courses .top .card {
  width: "300px";
  height: "380px";
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* media query */
/* 0px to 552px  phone size*/
@media (max-width: 575.98px) {
  .Courses {
    padding-top: 30px;
    height: 780px;
    padding-bottom: 30px;
  }
  .Courses h4 {
    font-size: 14px;
  }
  .Courses h1 {
    font-size: 25px;
  }
  .Courses p {
    font-size: 12px;
  }
}
