/* cousres */
.Courses {
  height: 1050px;
  background-color: rgba(238, 238, 238, 0.377);
  padding-top: 60px;
}

.Courses h4 {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}
.Courses h1 {
  color:  #0000ff;
}
.Courses .buttons {
  border-bottom: 1px solid gray;
  margin-top: 50px;
  padding-bottom: 20px;
}
.Courses button {
  background: transparent;
  border: none;
  text-transform: capitalize;
}

.Courses .buttons button:hover {
  color:  #0000ff;
}

/* media query */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 575.98px) {
  .Courses {
    padding-top: 0px;
    height: 610px;
    padding-bottom: 30px;
  }
  .Courses h4 {
    font-size: 14px;
  }
  .Courses h1 {
    font-size: 22px;
  }
  .Courses h5 {
    font-size: 12px;
  }
  .Courses button {
    font-size: 10px;
  }
  .Courses .buttons {
    margin-top: -10px;
    margin-top: 30px;
  }
  .Courses p {
    font-size: 12px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 576px) and (max-width: 768px) {
  .Courses {
    margin-top: 40px;
    height: 730px;
    padding-bottom: 30px;
  }
  .Courses h4 {
    font-size: 14px;
  }
  .Courses h1 {
    font-size: 22px;
  }
  .Courses h5 {
    font-size: 12px;
  }
  .Courses button {
    font-size: 10px;
  }
  .Courses .buttons {
    margin-top: -10px;
    margin-top: 30px;
  }
  .Courses p {
    font-size: 12px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 769px) and (max-width: 992px) {
  .Courses {
    margin-top: 40px;
    height: 730px;
    padding-bottom: 30px;
  }
  .Courses h4 {
    font-size: 19px;
  }
  .Courses h1 {
    font-size: 25px;
  }
  .Courses h5 {
    font-size: 12px;
  }
  .Courses button {
    font-size: 15px;
  }
  .Courses .buttons {
    margin-top: -10px;
    margin-top: 30px;
  }
  .Courses p {
    font-size: 12px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 992px) and (max-width: 1200px) {
  .Courses h4 {
    font-size: 22px;
  }
  .Courses h1 {
    font-size: 28px;
  }
  .Courses h5 {
    font-size: 12px;
  }
}
