.instru {
  margin-top: 70px;
  background-color: rgba(238, 238, 238, 0.377);
  /* background: linear-gradient(to left  ,#4785f1,rgba(238, 238, 238, 0.377)); */
  /* padding-top: 60px; */
  padding-bottom: 70px;
}
.instru .textsss {
  margin-top: 160px;
}
.instru .textsss h1 {
  color: #4785f1;
  margin-bottom: 10px;
}

.instru .textsss button {
  background-color: #4785f1;
  color: white;
  border: none;
  padding: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.instru .textsss button:hover {
  background-color: transparent;
  color: #4785f1;
  border: 2px solid #4785f1;
}
.instru img {
  margin-left: -40px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* media query */
/* 0px to 552px  phone size*/
@media (max-width: 575.98px) {
  .instru img {
display: none;
  }
  .instru {
text-align: center;
margin-top: 0px;
  }

  .instru h1 {
    font-size: 25px;
 margin-top: -70px; }
  .instru p {
    font-size: 14px;
  }
  .instru button {
    font-size: 12px;
  }
}
