/* nav drop fron faBars icon in right side */
.dropnav {
  overflow-y: hidden;
}
.dropnav .navbar {
  background-color: #eee;
  margin-bottom: 90px;
  position: fixed;
  z-index: 5;
  top: 90px;
  height: 60px;
}
.drop .collapse .navbar-nav {
  margin-left: 310px;
  font-size: 22px;
  text-transform: capitalize;
  padding: 10px;
}

.drop .navbar-nav .nav-item .nav-link:hover {
  color: rgb(9, 9, 73);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* media query */
/* 0px to 552px  phone size*/
@media (max-width: 575.98px) {
  .dropnav .navbar {
    display: none;
  }
}
