/* web development courses  */
.Products-game {
  background-color: white;
  margin-bottom: 100px;
}
.Products-game Products-web h2 {
  color: #4785f1;
  text-transform: capitalize;
  margin-top: 100px;
}
.Products-game .all-courses-top {
  /* margin-bottom: 70px; */
  padding-bottom: 10px;
}
/* top div for header and dropdown btn */
.Products-game .all-courses-top h1 {
  color: rgba(0, 0, 0, 0.726);
}
/* courses card */
.Products-game.Products-game Card {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: auto;
}
.Products-game .card {
  display: flex;
  flex-flow: row;
  margin-top: 20px;
  text-transform: capitalize;
  box-shadow: inset 1px 1px 16px #eef0f5;
  padding: 15px;
  background-color: white;
  height: 180px;
  width: 100%;
}
.Products-game .card:hover {
  box-shadow: 1px 1px 15px rgb(231, 228, 228);
}
.Products-game .card img {
  width: 300px;
  float: left;
  height: 150px;
}
.Products-game .card span {
  font-size: 12px;
}

.Products-game .card h5 {
  color: #4785f1;
  font-size: 20px;
  margin-top: 0px;
}
.Products-game .card h6 {
  color: gray;
}

.Products-game .card-contain {
  padding-left: 100px;
  margin-top: 10px;
}

.Products-game .contsinWeb {
  opacity: 0;
  position: absolute;
  /* top: -210px; */
  background-color: white;
  width: 400px;
  padding: 20px;
  font-weight: 600;
  color: black;
  box-shadow: inset 1px 5px 19px rgb(224, 224, 224);
  left: 325px;
  padding: 15px;
  z-index: 200;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
  height: 250px;
  margin-top: -90px;
}

.Products-game .contsinWeb h4 {
  background-color: #eee;
  color: #4785f1;
  padding: 10px;
  text-transform: capitalize;
  font-size: 16px;
}
.Products-game .contsinWeb p {
  font-size: 15px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.699);
}
/* Discount */
.Products-game .contsinWeb h6 {
  color: #db2d41;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 600;
}
.Products-game .contsinWeb h6:first-child {
  font-weight: 600;
  color: #4785f1;
  font-size: 20px;
}
.Products-game .card:hover .contsinWeb {
  opacity: 1;
}
.Products-game .btns {
  margin-left: auto;
}
.Products-game .all-courses-top .menu {
  margin-right: -40px;
  width: 300px;
  text-align: center;
  list-style-type: none;
}
/* CheckBox  component*/
.checkbox-input {
  margin-left: 100px;
  box-shadow: inset 1px 1px 15px rgb(207, 203, 203);
  padding: 10px;
  margin-top: 26px;
}
.checkbox-input form {
  margin-left: 100px;
}
.checkbox-input form .check-div {
  margin-top: 10px;
}
/* btn sorted by */
.checkbox-input .dropdown-toggle {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  width: 300px;
  font-size: 23px;
  font-weight: 600;
  color: #db2d41;
  text-transform: capitalize;
  text-align: center;
}

.checkbox-input .dropdown-item {
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 1px solid #eee;
}
.checkbox-input .dropdown-item:hover {
  background-color: #4785f1;
  color: #eee;
}

/* media query */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 575.98px) {
  .Products-game {
    margin-top: 60px;
  }
  .Products-game h1 {
    font-size: 20px;
  }

  .Products-game p {
    font-size: 12px;
  }
  .Products-game .card img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }

  .Products-game .card h5 {
    font-size: 13px;
    margin-top: 15px;
  }

  .Products-game .contsinWeb {
    display: none;
  }
  .Products-game .btns {
    font-size: 10px;
    margin-top: 10px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 576px) and (max-width: 768px) {
  .Products-game {
    margin-top: 60px;
  }
  .Products-game h1 {
    font-size: 20px;
  }

  .Products-game p {
    font-size: 12px;
  }
  .Products-game .card {
    height: 180px;
  }
  .Products-game .card img {
    width: 150px;
    height: 120px;
    /* margin-top: 20px; */
  }

  .Products-game .card h5 {
    font-size: 13px;
    /* margin-top: 5px; */
  }

  .Products-game .contsinWeb {
    display: none;
  }
  .Products-game .btns {
    font-size: 10px;
    margin-top: 10px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 769px) and (max-width: 992px) {
  .Products-game {
    margin-top: 60px;
  }
  .Products-game h1 {
    font-size: 29px;
  }

  .Products-game p {
    font-size: 12px;
    display: none;
  }
  .Products-game .card {
    height: 180px;
    width: 600px;
  }
  .Products-game .card img {
    width: 150px;
    height: 120px;
    /* margin-top: 20px; */
  }

  .Products-game .card h5 {
    font-size: 13px;
    /* margin-top: 5px; */
  }

  .Products-game .contsinWeb {
    display: none;
  }
  .Products-game .btns {
    font-size: 10px;
    margin-top: 10px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 992px) and (max-width: 1200px) {
  .Products-game {
    margin-top: 60px;
  }
  .Products-game h1 {
    font-size: 30px;
  }

  .Products-game p {
    font-size: 12px;
  }
  .Products-game .card {
    height: 180px;
    width: 500px;
  }
  .Products-game .card img {
    width: 150px;
    height: 120px;
    /* margin-top: 20px; */
  }

  .Products-game .card h5 {
    font-size: 13px;
    /* margin-top: 5px; */
  }

  .Products-game .contsinWeb {
    display: none;
  }
  .Products-game .btns {
    font-size: 10px;
    margin-top: 10px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media all and (min-width: 1201px) and (max-width: 1650px) {
 .Products-game  .contsinWeb {
    display: none;
  }
  .Products-game .card img {
    width: 150px;
    height: 140px;
  }
}
