.companies {
  margin: auto;
  margin-top: 80px;
  /* background-color: rgba(238, 238, 238, 0.377); */
  padding: 30px;
  margin-bottom: 80px;
}
.companies ul {
  list-style-type: none;
}
/* list of images */
.companies ul li {
  margin-left: 50px;
}
.companies h2 {
  text-align: center;
  margin-bottom: 40px;
}
/* media query */
/* 0px to 552px  phone size*/
@media (max-width: 575.98px) {
  .companies {
    display: none;
  }
}
