.boyy{  background-color: rgba(238, 238, 238, 0.377);
height: 1300px;}

/* .FirstSectionDivs{background: linear-gradient(to left ,#a4c2f5,#f0cbd0);
 */
/* blue circle */
.FirstSectionDivs .imageAll { 
  background-color: #4785f1;
  background-size: 40%;
  border-radius: 50%;
  width: 400px;
  height: 400px;

}

/* text inside circle */
.FirstSectionDivs .imageAll h1 {
  /* z-index: 100; */
  color: white;
  text-align: center;
  margin-top: 100px;
  text-transform: capitalize;
}
.FirstSectionDivs .imageAll h3 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

.FirstSectionDivs .imageAll button {
  margin: auto;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  width: 260px;
  padding: 10px;
  margin-left: 55px;
  margin-top: 30px;
  font-size: 20px;
  cursor: pointer;
}
/* for man */
.FirstSectionDivs .imageAll .images {
  margin-top: -100px;
}
.FirstSectionDivs .imageAll .images img {
  margin-top: -80px;
}
/* fist trail  */
.FirstSectionDivs .text {
  margin-top: -630px;
  height: 270px;
  width: 410px;
  text-align: center;
  background-color: #eee;
  margin-left: -470px;
}
.FirstSectionDivs .text h1 {
  margin-top: 100px;
  color: #4785f1;
  font-size: 30px;
  padding-top: 50px;
}

.FirstSectionDivs .text p {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
margin-top: 10px;}

.FirstSectionDivs .text button {
  /* background-color: #4785f1; */
  width: 200px;
  margin-left: -4px;
  margin-top: -2px;
  border: 1px solid #4785f1;
  color: #4785f1;
}
/* for certificate */
.FirstSectionDivs .texts {
  background-color: #eee;
  margin-left: -70px;
  color: blue;
  height: 270px;
  width: 430px;
  text-align: center;
  margin-top: -60px;
}

.FirstSectionDivs .texts h1 {
   margin-top: 100px;
  color: #4785f1;
  font-size: 30px;
  padding-top: 50px;
}
.FirstSectionDivs .texts p {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
margin-top: 10px;
color: black;

}
.FirstSectionDivs .texts button {
  background-color: #4785f1;
  width: 200px;
  margin-left: -4px;
  margin-top: -2px;
  border: 1px solid #4785f1;
  color:white;
  text-transform: capitalize;
}

.FirstSectionDivs button:hover{background-color: #6e8fc9;
color: white;
}

